@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  font-family: 'Comic Neue', cursive;
  margin: 0; }

.navbar {
  background-color: #dd0000; }
  .navbar .iconos {
    display: flex;
    align-self: flex-end; }

.titulo {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 2%; }

.foto1Div {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center; }
  .foto1Div .foto1 {
    padding-bottom: 2%; }

.botones {
  background-color: #c2c1c1; }

.encabezadoModals {
  background-color: red; }

.footerModals {
  background-color: red; }

.comicsHTML {
  justify-content: center; }

#precioProd1 {
  align-self: center;
  align-items: center;
  justify-self: center; }

.textoPrecioProd {
  font-size: large;
  padding-left: 15%; }

.botonProducto {
  background-color: #ff0303; }

.flowComic1 {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  margin-top: 20%; }
  .flowComic1 .precioProd1 {
    padding-right: 10%; }

.flowComic2 {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  margin-top: 20%; }
  .flowComic2 .precioProd2 {
    padding-right: 10%; }

.flowComic3 {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  margin-top: 50%; }
  .flowComic3 .precioProd3 {
    padding-right: 10%; }

.flowComic4 {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center; }
  .flowComic4 .precioProd4 {
    padding-right: 10%; }

.section4 {
  margin-top: 2%;
  margin-bottom: 2%; }

.contactoUl {
  list-style-type: none;
  display: flex;
  flex-flow: column wrap; }
  .contactoUl .logoWpp {
    margin-top: 1%; }
    .contactoUl .logoWpp .bi-whatsapp {
      margin-right: 1%; }
  .contactoUl .logoMail .bi-envelope {
    margin-right: 1%; }

.contactoUl :hover {
  color: gray; }

.contactoUl :active {
  color: #d8d8d8; }

/*Footer*/
.footerGrid {
  background-color: red;
  display: grid;
  grid-template-areas: "logoFooter derechosFooter contactosFooter ";
  color: black; }
  .footerGrid .tC {
    color: black; }

.footerGrid .logoFooter {
  grid-area: logoFooter; }

.footerGrid .derechosFooter {
  grid-area: derechosFooter; }

.footerGrid .contactosFooter {
  grid-area: contactosFooter; }

.footerGrid .nombreFooter:hover {
  color: gray; }

.footerGrid .nombreFooter2:hover {
  color: gray; }

#botonInicio {
  position: fixed;
  bottom: 8%;
  right: 10px;
  z-index: 99;
  cursor: pointer;
  width: 50px;
  height: auto; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .iconosDerecha {
    display: flex;
    flex-flow: row wrap; }
  .h1 {
    font-size: x-large; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .iconosDerecha {
    display: flex;
    flex-flow: row wrap; } }
