@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body{
    font-family: 'Comic Neue', cursive;
    margin: 0;
}
.navbar{
    background-color: rgb(221, 0, 0);
    .iconos{
        display: flex;
        align-self: flex-end;
    }
}
.titulo{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 2%;
}
.foto1Div{
 display: flex;
 flex-flow: row wrap;
 align-content: center;
    justify-content: center;
 .foto1{
     padding-bottom: 2%;
 }
}
.botones{
    background-color: rgb(194, 193, 193);
}
.encabezadoModals{
    background-color: red;
}
.footerModals{
    background-color: red;
}
//comics inicio
.comicsHTML{
    justify-content: center;
}
#precioProd1{
    align-self: center;
    align-items: center;
    justify-self: center;
}
.textoPrecioProd{
    font-size: large;
    padding-left: 15%;
}
.botonProducto{
    background-color: rgb(255, 3, 3);
}
.flowComic1{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-top: 20%;
    .precioProd1{
        padding-right: 30%;
    }
}
.flowComic2{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-top: 20%;
    .precioProd2{
        padding-right: 30%;
    }
}
.flowComic3{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-top: 50%;
    .precioProd3{
        padding-right: 30%;
    }
}
.flowComic4{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    .precioProd4{
        padding-right: 30%;
    }
}